@import "../../assets/scss/Helper/mixin";
@import "../../assets/scss/Helper/variables";
.carousel {
  margin-bottom: 40px;
  .carousel__item{
    a{
      img{
        width: 100%;
        height: 600px;
      }
    }
  }
  
}
@include responsive_768 {
  .carousel{
    .carousel__item{
      a{
        img{
          width: 100%;
          height: 450px;
        }
      }
    }
  }
  
}
@include responsive_576 {
  .carousel{
    .carousel__item{
      a{
        img{
          width: 100%;
          height: 350px;
        }
      }
    }
  }
  
}
@include responsive_0 {
  .carousel{
    .carousel__item{
      a{
        img{
          width: 100%;
          height: 250px;
        }
      }
    }
  }
  
}
@include responsive_mobie {
  .carousel{
    .carousel__item{
      a{
        img{
          width: 100%;
          height: 250px;
        }
      }
    }
  }
  
}

.movie__card {
  background-image: url(../../img/homeImg/hinhnen2.jpg);
  background-size: cover;
  background-attachment: fixed;

  // height: 100%;
}
//card

.movie__card-content {
  position: relative;
  transition: all 0.1s;
  margin-bottom: 20px;
  .card-img {
    position: relative;
    img{
      width: 100%;
      height: 340px;
    }
    .card-bg {
      position: absolute;
      z-index: 100;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to top,
        rgba(236, 229, 229, 0.335),
        rgba(250, 250, 250, 0)
      );

      display: none;
    }
    &:hover {
      box-shadow: 2px 2px 5px $color-white-1, -2px -2px 5px $color-white-1;
    }
  }

  .card-body {
    padding: 10px 0;
    .card-title {
      @include styleText($fs-2, $fw-normal, $color-gray-2);
      margin: 0;
    }
    .btn {
      z-index: 101;
      transition: all .0s;
      display: none;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 40px;
      color: $color-white-0;
      // background-color: $color-orange-1;
      background: linear-gradient(
        to right,
        $color-orange-0,
        $color-orange-1
      );
      border:1px solid $color-white-0;
      // border: none;
      &:hover{
        background: $color-white-0;
        border-color: $color-orange-1;
        color: $color-orange-1;
        box-shadow: none;
        // .card-img{
        //   box-shadow: 2px 2px 5px $color-white-1, -2px -2px 5px $color-white-1;
        // }
      }
      
    }
    .card-date {
      position: absolute;
      top: 70%;
      left: 50%;
      width: 80%;
      height: 50px;
      padding: 8px;
      transform: translate(-50%, -50%);
      text-align: center;
      color: $color-white-0;
      font-size: $fs-2;
      background-color: rgba(42, 41, 41, 0.363);
    }
  }
  &:hover {
    .card-img .card-bg {
      display: inline;
    }
     .btn {
      display: inline;
      
      
    }
    .card-title {
      @include styleText($fs-2, $fw-normal, $color-white-0);
    }
    .card-play {
      border: 2px solid $color-orange-0;
      color: $color-orange-0 !important;
    }
    .card-date{
        display: none;
    }
  }
  .card-play {
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 50%;
    width: 50px;
    height: 50px;
    padding: 7px 0 0 15px;
    border: solid 2px $color-white-0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: $color-white-0 !important;
    background-color: transparent;
    &:hover{
      color: $color-orange-1 !important;
      border: 2px solid $color-orange-1;
      width: 52px;
      height: 52px;
      padding: 8px 0 0 16px;
    }
  }
}

@include responsive_992 {
  .movie__card-content{
    .card-img {
      
      img{
        width: 100%;
        height: 300px;
      }
  }}
}
@include responsive_768 {
  .movie__card-content{
    .card-img {
      
      img{
        width: 100%;
        height: 280px;
      }
  }}
}
@include responsive_576{
  .movie__card-content{
    .card-img {
      text-align: center;
     
      img{
        
        height: 280px;
      }
      
  }
}
}
@include responsive_mobie{
  .movie__card-content{
    .card-img {
      text-align: center;
     
      img{
        
        height: 240px;
      }
      
  }
}
}

//
.heThongRap{
  .heThongRap__title{
    text-align: center;
    h2{
      margin: 0;
      padding-top: 30px;
      @include styleText($fs-5 + 12,$fw-bold-0, $color-orange-1)
    }
    span{
      letter-spacing: 4px;
        word-spacing: 4px;
        @include styleText($fs-2,$fw-normal , $color-black-0)
    }
    .news__title-line{
      width: 120px;
      height: 2px;
      margin: auto;
      background-color: black;
    }
  }
  .heThongRap__body{
    background: linear-gradient(
      to right,
      $color-orange-0,
      $color-orange-1
    );
    padding:0;
    .heThongRap__content {
      color: $color-white-0;
        font-size: $fs-2;
        font-weight: $fw-bold-0;
        padding: 0;
        border: 1px solid $color-orange-0;
        border-radius: 0;
       
        p{
          padding: 10px 20px;
          margin: 0;
        }
        &:hover{
          background: $color-white-0;
      color: $color-orange-1;
       border-radius: 0;
       border: 1px solid $color-orange-0;
        }
       
  
    }
    .nav-link.active{
      background: $color-white-0;
      color: $color-orange-1;
       border-radius: 0;
      
    }
    
  }
  
    .cumRap{
      background: linear-gradient(
        to right,
        $color-orange-0,
        $color-orange-1
      );
      border: 1px solid $color-orange-0;
        border-radius: 0;
       
        .cumRap__body{
          color: $color-white-0;
          .tenCumRap{
            font-size: $fs-2;
            font-weight: $fw-bold-0;
           
           }
           .diaChi{
            color: $color-gray-4 !important;
          }
          &:hover{
            background: $color-white-0;
            color: $color-orange-1;
             border-radius: 0;
          }
          
        }
      
      .nav-link.active{
        background: $color-white-0;
        color: $color-orange-1;
         border-radius: 0;
        
      }
    }
    .tenPhim{
      @include styleText($fs-2,$fw-bold-0,$color-gray-4)
    }
}
@include responsive_576{
  .heThongRap{
    .heThongRap__body{
      .heThongRap__content{
        p{
          padding: 10px 0;
        }
      }
    }
  }
}
@include responsive_mobie{
  .heThongRap{
    .heThongRap__body{
      .heThongRap__content{
        p{
          padding: 10px 0;
          font-size: 16px;
        }
      }
    }

    .cumRap .cumRap__body .tenCumRap {
      font-size: 16px;
      font-weight: 600;
  }
  .tenPhim{
    margin: 0;
    display: block;
    font-size: 16px;
  }
  .hinhAnh{
    width: 20px;
    height: 60px;
  }
  }
  

  
}

  //news

  .news{
    .news__title{
      h1{
        @include styleText($fs-5 + 12,$fw-bold-0, $color-orange-1)
      }
      .news__title-line{
        width: 120px;
        height: 2px;
        margin: auto;
        background-color: black;
      }
      span{
        
        letter-spacing: 4px;
        word-spacing: 4px;
        @include styleText($fs-2,$fw-normal , $color-black-0)
      }
    }

    .news__body{
      .news__body-text{
        h5 a{
          color: black;
        text-decoration: none;
        font-weight: 600;
        }
        h6{
          color: $color-orange-1;
        margin: 15px 0;
        font-weight: 600;
        font-size: 16px;
        }
        p{
          font-size: 16px;
        color: #999999;
        letter-spacing: 1px;
        line-height: 25px;
        }
      }
    }
  }
  

