@import "../scss/Helper/mixin";
@import "../scss/Helper/variables";
.user__content{
    width: 100%;
    height: 600px;
    background-image: url(../../img/userImg/cat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
    .user-title{
        @include styleText($fs-2,$fw-normal,$color-white-1);

        background-color: transparent !important;
        // &:hover{
        //     color: $color-white-0;
        // }
        // &:active{
        //     color: $color-white-0 !important;
        // }

    }
    .user-title.active{
        color: $color-white-0  !important;
    }
    .nav-tabs{
        border: none;
    }
    .out-title{
        @include styleText($fs-0 + 2,$fw-bold-0,$color-white-0);
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    .out-body{
        @include styleText($fs-0 +2,$fw-normal,$color-white-0);
        letter-spacing: 1px;
        word-spacing: 2px;
    }
}
