@import './assets/scss/Helper/mixin';
@import './assets/scss/Helper/variables';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    @include styleText($fs-1, $fw-normal,$color-blue);
}
.btn-orange{
  color: $color-gray-6;
  font-weight: $fw-bold;
  background: linear-gradient(to right ,$color-orange-0,$color-orange-1 );
 padding: 5px 15px;
 border:1px solid $color-white-0;
 border-radius: 5px;
 box-shadow: none;
 
 
 &:hover {
  background: $color-white-0;
  border-color: $color-orange-1;
  color: $color-orange-1;
  box-shadow: none;
}
}
.navLink{
  color: $color-white-0;
  background:linear-gradient(to right ,$color-orange-0,$color-orange-1 ) ;
  border: 1px solid $color-white-0;
  border-radius: 5px;
  padding: 5px 15px;
  font-weight: $fw-bold;
  &:hover{
    color: $color-orange-1;
    background: $color-white-0;
    border:1px solid $color-orange-1;
  }
}
.trapezoid {
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	min-height: 0;
	width: 700px;
}
.ghe {
  margin: 5px;
  background-color: rgb(228, 209, 209);
  border-radius: 5px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.gheDaDat{
  // cursor: no-drop;
  font-weight: bold;
  background-color: blue($color: #d36464);
  font-size: 17px;
}
.gheVip{
  background-color: rgb(245, 74, 74) ;
}
.gheDangDat{
  background-color: green;
  color: white;
}