@import "../../assets/scss/Helper/mixin";
@import "../../assets/scss/Helper/variables";

.header {
    position: sticky;
    background-color: rgba(56, 55, 55, 0.815);
   
    .nav-logo {
      width: 75px;
      height: 75px;
      margin-left: 30px;
    }
    .nav-items {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .nav-item {
          margin-right: 30px;
       
        .nav-link {
          // @include styleText($fs-0,$fw-normal,$color-purple)
          @include styleText($fs-2 - 1, $fw-bold-0, $color-white-1);
          // padding-right: 30px;
          &:hover {
            @include styleText($fs-2 - 1, $fw-bold-0, $color-white-0);
            transition: all .5s;
          }
        }
        .nav__link {
          height: 2px;
          width: 0;
          background-image: linear-gradient(to right, $color-orange-0, $color-orange-1);
          
        }
        
  
        &:hover .nav__link {
          width: 100%;
          transition: all .5s;
        }
        
        .active{
          color: $color-white-0 !important;
          width: 100%;
          
          
         
      }
      }
  
      
      
    }
  }
  .icon-login {
    font-size: 25px;
    color: $color-white-0;
  }
  .login {
    @include styleText($fs-1 + 2, $fw-bold-0, $color-white-1);
    &:hover {
      @include styleText($fs-1 + 2, $fw-bold-0, $color-white-0);
    }
  }